<header>
  <img src="../assets//image/logo.png" alt="logo">
  <h1>{{ (vaultState$ | async)?.title }}</h1>
  <span>
    <button class="btn-icon" type="button" (click)="openHelpDialog()">
      <i class="fa fa-question fa-lg" aria-hidden="true"></i>
    </button>
    <button class="btn-icon" type="button">
      <i class="fa fa-times fa-lg" aria-hidden="true"></i>
    </button>
  </span>
</header>

<hr class="separater">

<main>
  <div class="direction">
    <button class="btn-icon" type="button" (click)="onDirections()">
      <i class="fa fa-volume-up fa-lg" aria-hidden="true"></i>
    </button>
    <h3>{{ (vaultState$ | async)?.directions }}</h3>
  </div>

  <div class="vault-options">
    <section>
      <app-vault></app-vault>
    </section>

    <section>
      <div *ngFor="let question of (vaultState$ | async)?.rounds[(vocabularyState$ | async)?.currentRound].questions; let i = index;">

        <form #form="ngForm" (submit)="onSubmit(form, question, i)" *ngIf="i == ((vocabularyState$ | async)?.currentQuestion - 1)">

          <h4>{{ question.text }}</h4>

          <div class="radio-group">
            <div class="radio-wraper" *ngFor="let answer of question.answers; let j = index;">
              <input type="radio" [id]="'radio' + j" [value]="answer" name="answer" ngModel required />
              <label [for]="'radio' + j">
                <span></span>
                {{ answer }}
              </label>
            </div>
          </div>

          <div class="button-group">
            <button type="reset">Reset</button>
            <button type="submit" [disabled]="form.invalid">OK</button>
          </div>

        </form>

      </div>
    </section>
  </div>

</main>

<hr class="separater">

<footer>
  <ul>
    <li *ngFor="let roundNo of (noOfRounds$ | async)">
      <span class="dot" [ngClass]="{ 'previous': ((vocabularyState$ | async)?.currentRound) > roundNo, 'active': ((vocabularyState$ | async)?.currentRound) == roundNo }"></span>
    </li>
  </ul>
</footer>
