<h3>{{ (vault$ | async)?.title }}</h3>

<h4>{{ (vault$ | async)?.directions }}</h4>

<div *ngFor="let question of (vault$ | async)?.rounds[(vocabularyState$ | async)?.currentRound].questions; let i = index;">

  <form #form="ngForm" (submit)="onSubmit(form, question, i)" *ngIf="i == ((vocabularyState$ | async)?.currentQuestion - 1)">

    <h5>{{ question.text }}</h5>

    <div *ngFor="let answer of question.answers">
      <label class="container">
        <input type="radio" name="answer" [value]="answer" ngModel required> {{ answer }}
      </label>
    </div>

    <br>

    <button type="reset">Reset</button>
    <button type="submit" [disabled]="form.invalid">OK</button>

  </form>

</div>
