/* You can add global styles to this file, and also import other style files */
html{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

*,*:before,*:after{
  box-sizing: inherit;
}
